<div id="<%= dom_id team %>">
  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

  <p>
    <strong>Members:</strong>
    <%= team.members %>
  </p>

  <p>
    <strong>Coach:</strong>
    <%= team.coach_id %>
  </p>

</div>
